section.content
  .content__wrapper
    canvas.canvas3(id="myChart1" width="500" height="285")
  .content__wrapper
    canvas.canvas3(id="myChart2" width="500" height="285")
  .content__wrapper
    canvas.canvas3(id="myChart3" width="500" height="285")