section.content
  .card
    .chart__wrapper
      canvas.canvas(id="myChart1" width="500" height="250")
  .card
    .chart__wrapper
      canvas.canvas(id="myChart2" width="500" height="250")
  .card
    .chart__wrapper
      canvas.canvas(id="myChart3" width="500" height="250")